<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor AI</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <h1>AI Brain Tumor Detector</h1>
    <p>Can identify if a brain tumor exists and identify between Glioma, Meningioma, and Pituatary Tumors.<br> Upload an MRI scan to find out!</p>
    
    <form action="#" method="post" enctype="multipart/form-data">
        <input type="file" name="imagefile" id="imagefile"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
